body
    :root
        font-size: 14px

    h3
        margin: 0

    p
        margin: 0

    ul
        margin: 0
        padding: 0

    .menu
        position: fixed
        display: block
        font-size: 4rem
        left: 2rem
        top: 2rem


    .main-bracket
        padding: 4rem
        width: 960px
        margin: 0 auto
