.periodic-table
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

    .element
        border: 1px solid $border
        display: flex
        width: rem(200px)
        flex-direction: column
        justify-content: space-between
        padding: 1rem 0 1.5rem 0
        box-shadow: 2px 2px 6px $shadow
        +transition()
        margin-bottom: ((960px-4*200px)/3)

        &:hover
            box-shadow: 4px 4px 10px $shadow

        @import element-fonts

        .atomic-number
            line-height: 1
            padding: 0 0 0 1rem


        h3
            font:
                size: 4rem
            line-height: 1
            align-self: center
            margin: 2rem 0

        .info
            display: flex
            flex-direction: row
            justify-content: space-between
            padding: 0 1rem


            p
                &:first-of-type
                    font-style: italic

                &:last-of-type
                    font-weight: bolder
